.tg {
    border-collapse: collapse;
    border-spacing: 0;
}

.tg td {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: black;
}

.tg th {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: black;
}

.tg .tg-0l74 {
    font-size: 12px;
    background-color: #c0c0c0;
    border-color: inherit;
    text-align: left;
    vertical-align: top
}

.tg .tg-v1c5 {
    font-size: 12px;
    background-color: #c0c0c0;
    border-color: inherit;
    text-align: center
}

.tg .tg-uxaa {
    font-size: 12px;
    background-color: #c0c0c0;
    border-color: inherit;
    text-align: center;
    vertical-align: top
}

.tg .tg-data {
    font-size: 12px;
    border-color: inherit;
    text-align: center;
    vertical-align: top
}

.tg .tg-91w8 {
    font-size: 12px;
    border-color: inherit;
    text-align: center;
    vertical-align: top
}

.tg .tg-l6li {
    font-size: 12px;
    border-color: inherit;
    text-align: left;
    vertical-align: top
}