input[type=text] {
    background: #eee;
    border: 0;
    font: 11px Arial, Helvetica, sans-serif;
    text-align: right
}

table.declaracion {
    background-color: #395294;
    border-collapse: collapse;
    margin: 0;
    text-align: left
}

table.declaracion, table.declaracion1 {
    color: #212424;
    font: 8px Arial, Helvetica, sans-serif;
    padding: 0;
    width: 650px
}

table.declaracion1 {
    margin: 0 0 5px
}

table, td, tfoot tr td, th, tr {
    background-color: #fff;
    border-collapse: collapse;
    height: 0;
    margin: 0;
    padding: 0
}

.borde {
    background-color: #fff
}

.borde, .bordevacio {
    border: 1px solid #395294;
    margin: 0
}

.fondo {
    background-color: #395294;
    border: 1px none #395294;
    color: #395294;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1px;
    font-weight: 700;
    height: 2px;
    margin: 0;
    text-align: center
}

caption {
    background: url(caption.gif) no-repeat 98% 0;
    font-size: 0;
    height: 39px;
    line-height: 0;
    text-indent: -5000em;
    width: 100%
}

caption:hover {
    background-position: 98% 100%
}

thead {
    background: #004080;
    color: gold;
    font: 120%/150% Arial, Lucida Sans Unicode, Lucida Sans, Lucida, Helvetica, sans-serif;
    font-size: 12px
}

tfoot thead tr td, thead tfoot tr td, thead tr th {
    border-bottom: 0 solid #a5d768;
    color: #faf7d4;
    padding: 0;
    text-align: center
}

tfoot {
    background: #524123;
    color: #fff
}

tfoot tr td, tfoot tr th {
    border-top: 0 solid #a5d768;
    padding: 0
}

tfoot tr td {
    text-align: right
}

tbody tr td {
    border-collapse: collapse;
    font-size: 8pt;
    padding: 8px
}

tbody tr.odd td {
    background-color: #d0eba6
}

tbody tr.odd td:hover, tbody tr td:hover {
    background: #395294;
    color: #fff
}

tbody tfoot tr td, tbody tr td, tbody tr th, tfoot tbody tr td {
    margin: 0;
    padding: 0
}

tbody tfoot tr td, tbody tr th, tfoot tbody tr td {
    background: #dcdcdc;
    color: #395294;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
    font-weight: 700;
    padding: 1px;
    text-align: left;
    text-transform: uppercase
}

tbody tfoot tr td:hover, tbody tr th:hover, tfoot tbody tr td:hover {
    background: #395294;
    color: #fff
}

table a {
    background-color: #395294;
    display: inline-block;
    background-repeat: no-repeat;
    padding: 5px
}

table a, table a:visited {
    color: #fff;
    text-decoration: underline
}

table a:hover {
    background-repeat: no-repeat;
    color: #fff;
    padding: 5px;
    text-decoration: none
}

.numero {
    background-color: #eeeaee;
    border: 0;
    font-size: 9px;
    text-align: right;
    width: 90px
}

.descripcion {
    background-color: #e4e4e4;
    border: 1px solid #fff;
    margin: 1px;
    padding: 1px;
    width: 95%
}

.descripcion, .producto {
    font-size: 9px;
    text-align: left
}

.producto {
    border: 0;
    width: 100%;
    background-color: #eeeaee
}

.codigo {
    width: 10px
}

.valornumero {
    background-color: #fff;
    border: 1px solid #fff;
    font: 10px Arial, Helvetica, sans-serif;
    margin: 1px;
    padding: 1px;
    text-align: right;
    width: 100px
}

.valornumerocorto {
    border: 1px solid #ccc
}

.valorDV, .valornumerocorto {
    margin: 2px;
    padding: 2px;
    width: 20px
}

.valorDV {
    background-color: #e4e4e4;
    border: 1px solid #fff
}

.vacio {
    background-color: #dcdcdc;
    background-repeat: repeat;
    height: 25px;
    border: 1px solid #395294
}

body {
    margin-left: 5px;
    margin-top: 5px
}

div#tabs {
    float: left;
    font-family: Georgia;
    font-size: 13px
}

div#tabs ul {
    font-weight: 700;
    list-style: none;
    margin: 0;
    padding: 0
}

div#tabs li {
    background: 100% 0;
    float: left;
    margin: 0;
    padding: 0;
    width: auto
}

div#tabs a {
    background: 0;
    display: block;
    padding: 8px 15px
}

div#tabs a, div#tabs a:hover {
    color: #fff;
    text-decoration: none
}

div#tabs a:hover {
    text-shadow: #333 0 0 2px
}

div#tabs #active, div#tabs #active a {
    text-decoration: none
}

div#tabs #active a {
    padding-top: 8px;
    text-shadow: #333 0 0 2px
}

div#tabs #active a:hover {
    text-decoration: none;
    text-shadow: none
}

div#tab_content {
    border: 1px solid #395294;
    clear: left;
    float: left;
    font-size: 15px;
    padding: 1em;
    width: 500px
}

.filaTabs {
    margin-bottom: 1px
}

.filaTabs a {
    background: #dcdcdc;
    font-family: Arial, Helvetica, sans-serif;
    border: 0 none #395294;
    margin: 0;
    padding: 0;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    text-transform: none;
    color: #fff;
    text-decoration: underline;
    line-height: 20px
}

.filaTabs a.active {
    background-color: #395294;
    color: #fff
}

.filaTabs h3, .filaTabs ul {
    border: 1px solid #395294
}

.filaTabs h3 {
    color: #212424;
    font: 80%/150% Lucida Grande, Lucida Sans Unicode, Lucida Sans, Lucida, Helvetica, sans-serif
}

textarea.islaxml {
    position: absolute;
    left: -2000px;
    visibility: hidden
}

.areaimpresion {
    display: block
}

.areaimpresion, .contenido_areaimpresion {
    font-size: 10px;
    font-style: normal;
    text-decoration: none
}

.contenido_areaimpresion {
    background-color: #e4e4e4;
    border: 1px solid #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1px;
    padding: 1px
}

@media print {
    .areaimpresion {
        display: none
    }

    .saltoPagina, h1 {
        padding-top: 0;
        page-break-before: always
    }

    h1:first-child {
        counter-reset: page;
        page-break-before: avoid
    }
}

td[valign=bottom] {
    background-color: #395294
}

td[valign=bottom][align=left], td[valign=bottom][align=right] {
    font-size: 1px
}

td[valign=bottom] img {
    visibility: hidden
}

td[valign=bottom] .borde, td[valign=bottom][align=center] {
    background-color: #fff
}

/*# sourceMappingURL=bd-azul.css.map */
