.wrapper, body {
    min-height: 100vh
}

body.ambiente-dev:after, body.ambiente-test:after {
    content: "Ambiente de Pruebas";
    position: fixed;
    z-index: 4;
    left: 50%;
    opacity: .1;
    pointer-events: none;
    font-size: 90px;
    transform: translate(-50%, -50%) rotate(-45deg);
    top: 50%;
    text-align: center
}

@media print {
    .wrapper, body {
        min-height: 0
    }
}

.contenido {
    flex: 1
}

body {
    background-attachment: fixed;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover
}

body.escritorio, body.layout-publico {
    min-height: 0
}

body.escritorio footer.footer, body.layout-publico footer.footer {
    width: 100%;
    height: 30px;
    line-height: 29px;
    background-color: #373a3c;
    color: #fff;
    display: block
}

body.login {
    min-height: 0
}

body.login footer.footer {
    width: 100%;
    height: 30px;
    line-height: 29px;
    background-color: #373a3c;
    color: #fff;
    display: block
}

.top-separator {
    height: .2rem
}

@media screen {
    .bot-container, .top-container {
        box-shadow: 1.66667px 1.66667px 5px 0 rgba(0, 0, 0, .3)
    }
}

.bg-all, .bg-dark, .bg-light, .bg-trans-dark, .bg-trans-light, div.bg-trans-dark {
    border-radius: 1px
}

.bg-trans-light {
    background-color: hsla(210, 6%, 93%, .75)
}

.bg-light {
    background-color: #eeeded
}

@media print {
    .bg-light {
        background-color: inherit !important
    }
}

.bg-trans-dark, div.bg-trans-dark {
    background-color: rgba(52, 52, 52, .8);
    color: #fff
}

.bg-trans-dark h1, div.bg-trans-dark h1 {
    color: #fff
}

a {
    color: #68953b
}

.bg-dark, .bg-dark-ns {
    background-color: #343434;
    color: #fff
}

.bg-dark-ns {
    border-radius: 1px
}

.bg-inverse {
    background-color: #343434 !important
}

.bg-faded {
    background-color: hsla(210, 6%, 93%, .75);
    color: #343434
}

.bg-inverse-trans {
    background-color: rgba(52, 52, 52, .8) !important;
    color: #fff !important
}

.bot-container, .general-container, .mid-container, .one-container {
    padding-bottom: .3rem;
    padding-top: .3rem
}

.top-container {
    border-radius: 1px 1px 0 0;
    padding-bottom: .5rem;
    padding-top: .5rem;
    z-index: 1
}

.top-container h1 {
    font-weight: 400
}

.top-container h1 .top-container-icon {
    position: absolute;
    right: 15px
}

.mid-container {
    border-radius: 0 0 0 0;
    z-index: 2
}

.bot-container {
    border-radius: 0 0 1px 1px;
    z-index: 3
}

.one-container {
    border-radius: 1px
}

.sidebar-left-footer {
    height: 100px
}

.carousel, .nav, .pagination, .panel-title a {
    cursor: pointer
}

.top-bot-border {
    border-bottom: 1px solid #eeeded;
    border-top: 1px solid #eeeded
}

.divider-x {
    border-bottom: 1px solid hsla(0, 0%, 100%, .8);
    border-top: 1px solid rgba(0, 0, 0, .2);
    height: 0;
    width: 100%
}

.divider-y {
    border-left: 1px solid rgba(0, 0, 0, .2);
    border-right: 1px solid hsla(0, 0%, 100%, .8);
    height: 100%;
    width: 0
}

.container-p-0 {
    margin-bottom: -15px;
    margin-top: -15px
}

::-moz-selection {
    background: #75a742;
    color: #fff
}

::selection {
    background: #75a742;
    color: #fff
}

@media print {
    body, body.bg-documentos, body.login {
        background-image: none
    }

    .footer, .top-container, footer, header {
        display: none
    }

    .bg-light.bot-container {
        background-color: #fff !important
    }

    div.contenido-scroll-nav {
        margin-top: 0
    }

    .tab-content > .active {
        border: none;
        border-left: none !important;
        border-right: none !important;
        padding: 0
    }

    .nav-tabs {
        border: none
    }

    .container-fluid {
        padding-left: 0;
        padding-right: 0
    }
}

.areaimpresion {
    display: none
}

@media print {
    .contenido-documento, .d-flex, .previsualizar, .row, .vista-documento, .vista-previa-documento {
        display: block !important
    }

    .contenido-documento.areaimpresion, .contenido-documento.d-print-none, .contenido-documento.no-print, .d-flex.areaimpresion, .d-flex.d-print-none, .d-flex.no-print, .previsualizar.areaimpresion, .previsualizar.d-print-none, .previsualizar.no-print, .row.areaimpresion, .row.d-print-none, .row.no-print, .vista-documento.areaimpresion, .vista-documento.d-print-none, .vista-documento.no-print, .vista-previa-documento.areaimpresion, .vista-previa-documento.d-print-none, .vista-previa-documento.no-print {
        display: none !important
    }
}

@media print {
    .contenido-documento, .contenido-documento.print-only, .d-flex.print-only, .previsualizar, .previsualizar.print-only, .row.print-only, .vista-documento, .vista-documento.print-only, .vista-previa-documento, .vista-previa-documento.print-only {
        display: block !important
    }

    .contenido-documento.areaimpresion, .contenido-documento.d-print-none, .contenido-documento.no-print, .previsualizar.areaimpresion, .previsualizar.d-print-none, .previsualizar.no-print, .vista-documento.areaimpresion, .vista-documento.d-print-none, .vista-documento.no-print, .vista-previa-documento.areaimpresion, .vista-previa-documento.d-print-none, .vista-previa-documento.no-print {
        display: none !important
    }

    .contenido-documento.print-only, .previsualizar.print-only, .vista-documento.print-only, .vista-previa-documento.print-only {
        display: block !important
    }
}

.tooltip, [data-tooltip] {
    position: relative;
    cursor: pointer;
    text-transform: none
}

.tooltip:after, .tooltip:before, [data-tooltip]:after, [data-tooltip]:before {
    position: absolute;
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    transition: opacity .2s ease-in-out, visibility .2s ease-in-out, transform .2s cubic-bezier(.71, 1.7, .77, 1.24);
    transform: translateZ(0);
    pointer-events: none
}

.tooltip:hover:after, .tooltip:hover:before, [data-tooltip]:hover:after, [data-tooltip]:hover:before {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1
}

.tooltip:before, [data-tooltip]:before {
    z-index: 8;
    border: 6px solid transparent;
    background: transparent;
    content: ""
}

.tooltip:after, [data-tooltip]:after {
    z-index: 7;
    padding: 8px;
    min-width: 160px;
    max-width: 300px;
    background-color: #000;
    background-color: rgba(51, 51, 51, .9);
    color: #fff;
    content: attr(data-tooltip);
    font-size: 14px;
    line-height: 1.2
}

.tooltip-top:after, .tooltip-top:before, .tooltip:after, .tooltip:before, [data-tooltip]:after, [data-tooltip]:before {
    bottom: 100%;
    left: 50%
}

.tooltip-top:before, .tooltip:before, [data-tooltip]:before {
    margin-left: -6px;
    margin-bottom: -12px;
    border-top-color: #000;
    border-top-color: rgba(51, 51, 51, .9)
}

.tooltip-top:after, .tooltip:after, [data-tooltip]:after {
    margin-left: -80px
}

.tooltip-top:hover:after, .tooltip-top:hover:before, .tooltip:hover:after, .tooltip:hover:before, [data-tooltip]:hover:after, [data-tooltip]:hover:before {
    transform: translateY(-12px)
}

.tooltip-top-left:after {
    right: 25%;
    left: auto;
    bottom: 100%
}

.tooltip-top-left .tooltip-top-left:before {
    margin-left: 0;
    margin-bottom: -12px;
    border-top-color: #000;
    border-top-color: rgba(51, 51, 51, .9)
}

.tooltip-top-left:hover:after, .tooltip-top-left:hover:before {
    transform: translateX(-6px)
}

.tooltip-left:after, .tooltip-left:before {
    right: 100%;
    bottom: 50%;
    left: auto
}

.tooltip-left:before {
    margin-left: 0;
    margin-right: -12px;
    margin-bottom: 0;
    border-top-color: transparent;
    border-left-color: #000;
    border-left-color: rgba(51, 51, 51, .9)
}

.tooltip-left:hover:after, .tooltip-left:hover:before {
    transform: translateX(-12px)
}

.tooltip-bottom:after, .tooltip-bottom:before {
    top: 100%;
    bottom: auto;
    left: 50%
}

.tooltip-bottom:before {
    margin-top: -12px;
    margin-bottom: 0;
    border-top-color: transparent;
    border-bottom-color: #000;
    border-bottom-color: rgba(51, 51, 51, .9)
}

.tooltip-bottom:hover:after, .tooltip-bottom:hover:before {
    transform: translateY(12px)
}

.tooltip-right:after {
    bottom: 50%;
    left: 100%
}

.tooltip-right:before {
    bottom: 50%;
    left: 100%;
    margin-bottom: 0;
    margin-left: -12px;
    border-top-color: transparent;
    border-right-color: #000;
    border-right-color: rgba(51, 51, 51, .9)
}

.tooltip-right:hover:after, .tooltip-right:hover:before {
    transform: translateX(12px)
}

.tooltip-left:before, .tooltip-right:before {
    top: 3px
}

.tooltip-left:after, .tooltip-right:after {
    margin-left: 0;
    margin-bottom: -16px
}

@media (min-width: 992px) {
    .navbar-brand {
        width: 100px;
        transition: all .5s ease
    }

    .navbar-nav .nav-link {
        transition: all .5s ease;
        padding-bottom: .65rem;
        padding-top: .65rem
    }
}

.contenido-scroll-nav {
    margin-top: 90px
}

nav.header-scroll {
    line-height: normal;
    padding: .1rem 1rem;
    transition: all .5s ease
}

nav.header-scroll .navbar-brand {
    transition: all .5s ease;
    width: 40px
}

nav.header-scroll .navbar-brand img {
    visibility: hidden
}

nav.header-scroll .navbar-brand-scroll {
    transition: opacity .5s ease-in;
    opacity: 1
}

nav.header-scroll .navbar-brand-scroll img {
    vertical-align: baseline
}

nav.header-scroll .navbar-nav .nav-link {
    transition: all .5s ease
}

nav.header-scroll .navbar-toggler {
    padding: .15rem .75rem
}

nav.header-scroll .navbar-toggler-icon {
    height: 1.2rem
}

nav.header-no-scroll .navbar-brand {
    width: 100px;
    transition: all .5s ease
}

nav.header-no-scroll .navbar-nav .nav-link {
    transition: all .5s ease;
    padding-bottom: .65rem;
    padding-top: .65rem
}

nav.topbar {
    border-bottom: 1px solid rgba(0, 0, 0, .15)
}

nav.topbar .dropdown-item:focus, nav.topbar .dropdown-item:hover {
    background-color: transparent;
    color: #fff !important;
    text-decoration: none
}

nav.topbar .navbar-brand img {
    max-width: 100%
}

nav.topbar .navbar-brand-scroll {
    background: none;
    border: 0;
    left: 48%;
    position: absolute;
    top: 1rem
}

nav.topbar ul {
    border-radius: 0 0 .2em .2em;
    border: 1px solid hsla(0, 0%, 100%, .1);
    padding: .5em 15px
}

nav.topbar ul .nav-link {
    text-transform: uppercase
}

nav.topbar ul .nav-link .fa {
    margin-right: .5em
}

nav.topbar ul .dropdown-menu {
    background-color: transparent;
    border: 0;
    color: #fff
}

nav.topbar ul .dropdown-menu .dropdown-item {
    color: hsla(0, 0%, 100%, .5)
}

nav.topbar ul .dropdown-menu .dropdown-item .fa {
    margin-right: 0
}

nav.topbar ul .dropdown-menu .dropdown-divider {
    background-color: transparent
}

.nav-dash .navbar-brand {
    display: none
}

@media (min-width: 992px) {
    nav.topbar .dropdown-item:focus, nav.topbar .dropdown-item:hover {
        background-color: #f5f5f5;
        color: #373a3c !important;
        text-decoration: none
    }

    nav.topbar .navbar-brand-scroll {
        transition: opacity .5s ease-in;
        opacity: 0;
        top: .5rem
    }

    nav.topbar ul {
        border: 0;
        font-size: .8rem;
        margin-top: .2em;
        padding: 0
    }

    nav.topbar ul .nav-link {
        text-transform: capitalize
    }

    nav.topbar ul .nav-link .fa {
        margin-right: 0
    }

    nav.topbar ul .dropdown-menu {
        background-color: #fff;
        border: inherit
    }

    nav.topbar ul .dropdown-menu .dropdown-divider {
        background-color: #e5e5e5
    }

    nav.topbar ul .dropdown-menu .dropdown-item {
        border: 0;
        color: #333;
        font-size: .8rem
    }
}

.navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover, .navbar-dark .navbar-toggler:focus, .navbar-dark .navbar-toggler:hover {
    outline-color: #75a742
}

.identifica-tercero {
    background-color: #8a1616 !important
}

.list-group {
    padding: 0;
    width: 100%
}

.list-group-item-icon {
    float: left;
    width: 15%;
    color: #75a742
}

.list-group-item-icon span {
    margin-right: 5px
}

.list-group-item-content {
    float: right;
    width: 80%
}

.list-group-item-content p {
    line-height: 1em;
    margin: 0
}

.menu-container {
    padding: 5px
}

.bg-trans {
    background-color: rgba(52, 52, 52, .23) !important;
    color: #fff;
    padding-left: 20px;
    border: 1px solid rgba(0, 0, 0, .125)
}

.bg-trans:hover {
    background-color: hsla(0, 0%, 100%, .23) !important;
    color: #fff;
    transition: background-color 225ms linear;
    padding-left: 15px;
    border-left: 6px solid #75a742
}

.menu-vertical .breadcrumb {
    border-radius: 0;
    margin-top: 1rem
}

.menu-vertical .list-group-item:first-child, .menu-vertical .list-group-item:last-child {
    border-radius: 0
}

.menu-vertical .list-group-item > i {
    margin-right: 5px
}

.menu-vertical.bg-light .list-group-item {
    background-color: transparent;
    border: 0
}

.mensajes-sidebar .menu-vertical.bg-light .list-group-item.active, .menu-vertical.bg-light .list-group-item:hover, .menu-vertical.bg-light .mensajes-sidebar .list-group-item.active {
    background-color: #f7f7f9;
    transition: background-color 225ms ease
}

.menu-vertical.bg-light .list-group-item.active {
    color: #75a742;
    font-weight: 700
}

.menu-vertical.bg-light .list-group-item .input-group-addon {
    border: 1px solid rgba(0, 0, 0, .5)
}

.menu-vertical.bg-dark .list-group-item {
    background-color: transparent;
    color: #eeeded;
    border-bottom: 1px solid #505050;
    margin-bottom: 0
}

.mensajes-sidebar .menu-vertical.bg-dark .list-group-item.active, .menu-vertical.bg-dark .list-group-item:hover, .menu-vertical.bg-dark .mensajes-sidebar .list-group-item.active {
    color: #fff;
    background-color: #55595c;
    transition: background-color .3s linear
}

.menu-vertical.bg-dark .list-group-item.active {
    background: #75a742 linear-gradient(180deg, #8ab45e, #75a742) repeat-x !important;
    color: #fff;
    font-weight: 400;
    border: 0;
    border-bottom: 1px solid #505050
}

.menu-vertical.bg-dark .list-group-item.active else {
    background-color: #75a742
}

.mensajes-sidebar .menu-vertical.bg-dark .active.list-group-item, .menu-vertical.bg-dark .list-group-item.active:hover, .menu-vertical.bg-dark .mensajes-sidebar .active.list-group-item {
    color: #fff;
    font-weight: 400
}

.menu-vertical.bg-dark .list-group-item .input-group-addon {
    border: 1px solid rgba(0, 0, 0, .5)
}

.menu-vertical .list-group > a {
    display: table
}

.menu-vertical .list-group > button {
    background-color: rgba(52, 52, 52, .23);
    text-transform: capitalize;
    cursor: pointer
}

.menu-vertical .list-group > button:focus, .menu-vertical .list-group > button:hover {
    color: #fff;
    background-color: hsla(0, 0%, 100%, .23);
    transition: all 225ms ease
}

.menu-vertical .list-group > button span {
    float: right
}

.menu-vertical .list-group > li {
    padding: 8px 20px;
    text-transform: capitalize;
    list-style: none;
    font-size: .9rem
}

.menu-vertical .list-group > li:focus, .menu-vertical .list-group > li:hover {
    color: #fff;
    background-color: hsla(0, 0%, 100%, .23);
    transition: all 225ms ease
}

.menu-vertical .list-group > li a {
    color: #fff !important
}

.list-group-item.disabled {
    background-color: inherit !important;
    color: #818a91 !important;
    cursor: not-allowed
}

#sidebar-logo {
    max-width: 80%;
    margin: -15px auto
}

.barra-lateral-tarjetas {
    background-color: #343434;
    padding-bottom: 1rem;
    padding-top: .2em
}

.barra-lateral-tarjetas .card {
    background-color: rgba(0, 0, 0, .5);
    border: 0;
    color: #fff;
    font-size: .9rem
}

.barra-lateral-tarjetas .card .card-header {
    background-color: transparent;
    border-bottom: 1px solid #343434
}

.barra-lateral-tarjetas .card .card-block {
    color: #eeeded;
    padding: .9rem
}

.barra-lateral-tarjetas h3.card-title {
    font-size: 1.06rem
}

.barra-lateral-titulo {
    padding: .75rem 1rem;
    margin-bottom: .2rem
}

.barra-lateral-titulo h3 {
    margin: 0;
    text-align: center;
    color: #fff
}

.menu-sistema .breadcrumb {
    font-size: .9rem
}

.menu-sistema .list-group > button {
    font-size: .9rem;
    color: #fff;
    padding: 7px 5px;
    line-height: normal
}

.menu-sistema .list-group > button:hover {
    color: #f49265;
    background-color: transparent
}

.menu-sistema.breadcrumb > .breadcrumb-item {
    text-transform: uppercase
}

.menu-sistema.list-group > .list-group-item {
    padding-top: .8rem;
    padding-bottom: .8rem;
    text-transform: uppercase
}

.menu-sistema .list-group.menu-vertical > .list-group-item {
    padding-top: .7rem;
    padding-bottom: .7rem
}

.menu-sistema .list-group.bg-dark > .list-group-item {
    background-color: #343434;
    color: #eeeded
}

.mensajes-sidebar .menu-sistema .list-group.bg-dark > .list-group-item.active, .menu-sistema .list-group.bg-dark > .list-group-item:hover, .menu-sistema .mensajes-sidebar .list-group.bg-dark > .list-group-item.active {
    background-color: #818a91;
    transition: background-color 225ms ease
}

.menu-vertical > a.d-flex > i, .menu-vertical > div.d-flex > i {
    margin-right: .5rem;
    margin-top: .25rem
}

.ckbk-especial {
    font-size: 24px;
    line-height: 1px
}

.ckbk-especial.form-control-sm {
    font-size: 18px
}

.ckbk-especial input[type=checkbox] {
    visibility: hidden;
    display: none
}

.ckbk-especial .label {
    width: 2em;
    height: 1em;
    position: relative;
    cursor: pointer;
    display: block
}

.ckbk-especial .label:before {
    width: 2em;
    left: .1em;
    transition: background .1s ease;
    background: #d9534f;
    box-shadow: inset 0 1px 1px rgba(171, 66, 63, .5)
}

.ckbk-especial .label:after, .ckbk-especial .label:before {
    content: "";
    position: absolute;
    height: 1em;
    border-radius: 50px
}

.ckbk-especial .label:after {
    width: 1em;
    left: 0;
    transition: all .2s ease;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
    background: #fcfff4;
    animation: switch-off .2s ease-out;
    z-index: 2
}

.ckbk-especial input[type=checkbox]:checked + .label:before {
    background: #75a742;
    box-shadow: inset 0 1px 1px rgba(84, 152, 140, .5)
}

.ckbk-especial input[type=checkbox]:checked + .label:after {
    animation: switch-on .2s ease-out;
    left: 1.1em
}

input:required, input:required:not([readonly]):focus, select:required, select:required:not([readonly]):focus, textarea:required, textarea:required:not([readonly]):focus {
    background-color: #fcfcd7
}

.moment-picker td.today {
    background: #90a0af;
    color: #fff
}

.moment-picker td.selected {
    background: #75a742
}

span.help-block.has-error.error-msg {
    color: #d9534f;
    font-size: .8rem
}

label {
    margin-bottom: 0
}

.footer-botones {
    margin-top: 40px
}

.input-mediano {
    height: 30px;
    padding: 2px 5px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 3px
}

.bloque-captura {
    margin-top: .8rem;
    margin-bottom: 1rem
}

.form-control {
    padding: .1875rem .375rem
}

.form-control-sm {
    font-size: 80%;
    padding: .1rem
}

select.custom-select, select.form-control:not([size]):not([multiple]) {
    height: auto
}

.input-group-text {
    padding: .15rem .75rem
}

.h1, h1 {
    color: #fff;
    margin: 0;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase
}

.bg-light .h1, .bg-light h1, .bg-trans-light .h1, .bg-trans-light h1 {
    color: #343434
}

.h2, h2 {
    color: #75a742;
    margin-bottom: .9rem !important;
    margin-top: .9rem !important;
    text-align: center;
    text-transform: uppercase
}

.h3, h3 {
    color: #75a742;
    padding-top: .5rem;
    padding-bottom: .3rem
}

.h6, h6 {
    font-style: italic
}

.text-secondary {
    color: #343434 !important
}

a.text-secondary:focus, a.text-secondary:hover {
    color: #1b1b1b !important
}

a:focus {
    text-decoration: none
}

.blockquote {
    border-left: .25rem solid #818a91;
    padding-left: 1rem
}

.blockquote-reverse {
    border-left: 0;
    border-right: .25rem solid #818a91
}

ol.li-color-primary li, ul.li-color-primary li {
    color: #75a742
}

ol.li-color-primary li span, ul.li-color-primary li span {
    color: initial
}

.bg-title {
    margin-bottom: 1em;
    margin-top: 2em;
    padding: .5em 15px
}

.font-size-2x {
    font-size: .9775rem
}

.font-size-3x {
    font-size: 1.9125rem
}

.font-size-4x {
    font-size: 2.125rem
}

.lh-1, .line-height-1 {
    line-height: 1
}

.btn-toolbar {
    margin-bottom: .6rem;
    margin-top: 1rem;
    padding-top: .6rem
}

.acceso-rapido-btns {
    margin-bottom: 15px
}

.acceso-rapido-btns button i {
    margin-right: 0
}

.btn {
    border-bottom-color: rgba(0, 0, 0, .15);
    border-left-color: hsla(0, 0%, 100%, .1);
    border-right-color: rgba(0, 0, 0, .15);
    border-top-color: hsla(0, 0%, 100%, .1);
    cursor: pointer
}

.btn-outline-primary {
    border-color: #75a742
}

.btn-outline-secondary {
    border-color: #ccc
}

.btn-outline-success {
    border-color: #5cb85c
}

.btn-outline-info {
    border-color: #90a0af
}

.btn-outline-warning {
    border-color: #f0ad4e
}

.btn-outline-danger {
    border-color: #d9534f
}

.btn-group .btn + .btn-group, .btn-group > .btn:last-child:not(:first-child), .btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    margin-left: 0
}

.btn-link {
    border: 0
}

@media (min-width: 992px) {
    .acceso-rapido-btns button i {
        margin-right: .25em
    }
}

.btn-square-group {
    text-align: center
}

.btn-square-group ul {
    display: inline-block;
    margin: 0;
    padding: 0
}

.btn-square-group ul li {
    background-color: #75a742;
    float: left;
    height: 175px;
    list-style: none;
    margin: 2px;
    padding: 5px;
    width: 175px
}

.btn-square-group ul li:hover {
    background-color: #5b8234;
    cursor: pointer
}

.btn-square-group ul li h1, .btn-square-group ul li span {
    color: #fff;
    display: block;
    line-height: 1.25;
    text-align: center
}

.btn-footer {
    margin-bottom: 1em;
    margin-top: 2em
}

button .fa {
    display: inline
}

button .fa:after {
    content: "  "
}

.btn-label {
    position: relative;
    left: -17px;
    display: inline-block;
    padding: 6px 12px;
    background: rgba(0, 0, 0, .15);
    top: -1px
}

.btn-labeled {
    padding-top: 0;
    padding-bottom: 0
}

.login-wrapper img {
    margin-bottom: 15px
}

.login-wrapper button.btn-block {
    margin-bottom: 25px
}

.login-wrapper .form-text-bottom {
    margin-left: -30px;
    margin-right: -30px
}

@media screen {
    .contenido-documento, .previsualizar, .vista-documento, .vista-previa-documento {
        display: flex !important;
        flex-direction: column !important;
        overflow: auto
    }
}

.contenido-documento, .previsualizar, .vista-documento, .vista-previa-documento {
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding-bottom: 1rem
}

.contenido-documento > div, .previsualizar > div, .vista-documento > div, .vista-previa-documento > div {
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: .9rem;
    margin-top: 1rem;
    overflow-x: auto
}

@media screen {
    .contenido-documento > div, .previsualizar > div, .vista-documento > div, .vista-previa-documento > div {
        box-shadow: .66667px .66667px 2px 0 rgba(0, 0, 0, .3)
    }
}

.texto-principal-documento {
    border-right: 0;
    font-weight: 700;
    font-size: 10px;
    color: #006;
    font-family: verdana
}

table.declaracion p {
    margin-bottom: 0
}

.mensajes-sidebar {
    color: #fff
}

.mensajes-sidebar .list-group-item {
    background-color: #343434;
    border-bottom: 1px solid #343434;
    border-left: 1px solid #343434;
    border-right: 1px solid #343434;
    border-top: 1px solid hsla(0, 0%, 100%, .16);
    cursor: pointer
}

.mensajes-sidebar .list-group-item:first-child {
    border-radius: 0;
    border-top: 1px solid #343434
}

.mensajes-sidebar .list-group-item .media-body .media-heading {
    color: #eeeded
}

.mensajes-sidebar .list-group-item .media-body p {
    color: #818a91
}

.mensajes-sidebar .list-group-item .media-left {
    padding-right: 1.25rem
}

.mensajes-sidebar .list-group-item .media-left span {
    font-size: 1.5em
}

.mensajes-sidebar .list-group-item.active, .mensajes-sidebar .list-group-item:hover {
    background-color: #55595c;
    transition: background-color .3s linear
}

.mensajes-sidebar .list-group-item.active i, .mensajes-sidebar .list-group-item:hover i {
    color: #fff;
    transition: color .3s linear
}

.mensajes-sidebar .list-group-item.active .media-body p, .mensajes-sidebar .list-group-item:hover .media-body p {
    color: #eeeded
}

.mensajes-sidebar .list-group-item.active {
    background-color: #75a742;
    border-color: hsla(0, 0%, 100%, .16);
    cursor: pointer;
    z-index: 0
}

.bot-container .mensajes-sidebar .list-group-item:last-child {
    border-radius: 0 0 0 1px
}

.top-container .marandu-mini .list-group-item:first-child {
    border-radius: 1px 1px 0 0
}

.top-container .marandu-mini .list-group-item:last-child {
    border-radius: 0;
    margin-bottom: 0
}

iframe.mensaje-body {
    height: 100%;
    min-height: 500px;
    width: 100%
}

.list-group-flush .list-group-item {
    border-left: 0;
    border-right: 0
}

.tab-content > .active {
    background-color: #fff;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 20px 20px 5px;
    border-radius: 0 0 .25rem .25rem
}

.mgtu-tab > a.nav-link.active {
    border-top: 2px solid #75a742;
    font-weight: 900
}

.table-primary tbody tr:hover {
    background-color: #eeeded;
    transition: all .3s ease
}

.table {
    border: 1px solid #dee2e6
}

.table th {
    font-weight: 400
}

.table td, .table th {
    border: 1px solid #dee2e6;
    padding: .3rem;
    vertical-align: middle
}

.table thead {
    background: #e9ecef linear-gradient(180deg, #eceff1, #e9ecef) repeat-x !important;
    color: #5c5c5c
}

.table thead else {
    background-color: #e9ecef
}

.table thead tr {
    background: #e9ecef linear-gradient(180deg, #eceff1, #e9ecef) repeat-x !important
}

.table thead tr else {
    background-color: #e9ecef
}

.table thead td a, .table thead th a {
    color: #5c5c5c;
    border-bottom: 1px dashed #5c5c5c
}

.thead-default th {
    background-color: #fff
}

.table-striped.table-inverse tbody tr:nth-of-type(odd) {
    background-color: hsla(0, 0%, 100%, .06)
}

.table-white td, .table-white th {
    border-top: 1px solid #eeeded
}

.table-white tr {
    background-color: #fff
}

.table-white thead th {
    border-bottom: 2px solid #eeeded
}

.table-radio tbody tr td:first-child {
    padding-left: 10px;
    vertical-align: middle
}

.thead-primary th {
    background-color: #75a742
}

@media screen {
    .table-responsive {
        display: block;
        width: 100%;
        overflow-x: auto;
        -ms-overflow-style: -ms-autohiding-scrollbar
    }

    .table-responsive.table-bordered {
        border: 0
    }
}

.table-primary, .table-primary > td, .table-primary > th {
    background-color: #fff
}

@media print {
    table.responsive td, table.responsive th, table.table td, table.table th {
        padding: 1px 3px;
        font-size: .65rem
    }

    .table-responsive {
        display: block;
        width: 100%;
        overflow-x: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar
    }

    .table-responsive.table-bordered {
        border: 0
    }
}

@media print {
    table.table img, table.table tr {
        page-break-inside: avoid
    }
}

div.contenedor-tabla-legado table, table.its {
    width: 100%
}

table.its {
    line-height: normal;
    padding: 2px
}

table.its caption {
    background: #babdb6;
    color: #000;
    text-align: center
}

table.its th {
    padding: 10px 4px;
    text-align: center
}

table.its tr.even {
    background-color: #f7f7f9
}

table.its tr.even:hover, table.its tr.odd:hover {
    background-color: rgba(0, 0, 0, .13);
    transition: all .5s ease
}

table.its thead tr td, table.its thead tr th {
    background-color: #e9ecef;
    background-position: 50%;
    color: #5c5c5c;
    font-size: 14px;
    padding: 4px;
    text-align: left;
    width: 10%
}

table.its tr td {
    color: #000
}

table.its tr td p {
    margin: 0
}

tabla.its tr td a {
    color: #68953b;
    display: inline
}

table.its thead tr td a, table.its thead tr th a {
    color: #68953b
}

tr[data-ng-click] {
    cursor: pointer
}

body {
    color: #333
}

.ng-cloak, .x-ng-cloak, [data-ng-cloak], [ng-cloak], [ng\:cloak], [x-ng-cloak] {
    display: none !important
}

.login-wrapper .btn-primary {
    text-transform: uppercase
}

.vista-documento {
    background-color: #fff;
    box-shadow: 10px 10px 205px 30px rgba(0, 0, 0, .99);
    margin-left: auto;
    margin-right: auto;
    width: 720px
}

.cursor-pointer, .list-group-item[data-ng-click] {
    cursor: pointer
}

.alert-link:hover {
    text-decoration: underline
}

.alert-heading {
    font-weight: 700
}

.card-action {
    cursor: pointer
}

.card-action:hover {
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .3);
    border-top: 2px solid #75a742
}

.card-outline-secondary {
    border-color: #343434
}

.card-contribuyente .media .media-left i, .card-contribuyente .media .media-right i {
    font-size: 3em;
    margin-right: .1em
}

.card img {
    max-width: 100%
}

.card.card-h-200 {
    height: 200px;
    margin-bottom: 1.25rem;
    position: relative
}

.card.card-h-200 .card-btn-bot {
    bottom: 1.25rem;
    left: 10%;
    position: absolute;
    width: 80%
}

.jumbotron {
    background-color: #fff
}

.dualmultiselect .btn, .dualmultiselect label {
    margin: 10px
}

.dualmultiselect .pool, .dualmultiselect .poolLarge, .dualmultiselect .poolMedium, .dualmultiselect .poolSmall {
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 4px;
    font-size: small;
    height: 200px;
    margin: 5px;
    overflow-y: scroll;
    padding: 10px
}

.dualmultiselect .poolLarge ul, .dualmultiselect .poolMedium ul, .dualmultiselect .poolSmall ul, .dualmultiselect .pool ul {
    list-style: none;
    padding-left: 0
}

.dualmultiselect .poolLarge ul li, .dualmultiselect .poolMedium ul li, .dualmultiselect .poolSmall ul li, .dualmultiselect .pool ul li {
    border-bottom: 1px dotted #cfcfcf;
    cursor: pointer;
    padding: 4px 8px 4px 4px;
    width: 100%
}

.dualmultiselect .poolLarge ul li:hover, .dualmultiselect .poolMedium ul li:hover, .dualmultiselect .poolSmall ul li:hover, .dualmultiselect .pool ul li:hover {
    background-color: #a9a9a9;
    cursor: pointer
}

.dualmultiselect .poolLarge ul li a:hover, .dualmultiselect .poolMedium ul li a:hover, .dualmultiselect .poolSmall ul li a:hover, .dualmultiselect .pool ul li a:hover {
    text-decoration: none
}

.dualmultiselect .pool .itemSelected, .dualmultiselect .poolLarge .itemSelected, .dualmultiselect .poolMedium .itemSelected, .dualmultiselect .poolSmall .itemSelected {
    background-color: #babdb6
}

.dualmultiselect .poolLarge {
    height: 490px
}

.dualmultiselect .poolMedium {
    height: 340px
}

.dualmultiselect .poolSmall {
    height: 120px
}

.switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px
}

.switch input {
    display: none
}

.switch .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    right: 0;
    top: 0
}

.switch .slider, .switch .slider:before {
    position: absolute;
    transition-duration: .4s
}

.switch .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    width: 26px
}

.switch input:checked + .slider {
    background-color: #75a742
}

.switch input:focus + .slider {
    box-shadow: 0 0 1px #75a742
}

.switch input:checked + .slider:before {
    transform: translateX(26x)
}

.switch .slider.round {
    border-radius: 34px
}

.switch .slider.round:before {
    border-radius: 50%
}

.panel-header {
    box-shadow: .66667px .66667px 2px 0 rgba(0, 0, 0, .3);
    background: #5c5c5c linear-gradient(180deg, #747474, #5c5c5c) repeat-x !important;
    color: #e0e0e0;
    margin-bottom: .6rem;
    margin-top: .3rem;
    padding: .6rem 5px;
    text-align: center;
    text-transform: uppercase;
    line-height: normal
}

.panel-header else {
    background-color: #5c5c5c
}

.panel-header h2 {
    font-weight: 400;
    color: #e0e0e0;
    font-size: .85rem;
    line-height: normal;
    margin: 0 !important
}

@media screen {
    .no-screen {
        display: none
    }
}

.print-only {
    display: none
}

@media print {
    .no-print {
        display: none
    }

    .print-only {
        display: block
    }
}

hr {
    margin: 0;
    border-top: 1px solid #55595c
}

.wizard {
    margin-bottom: 1.5rem
}

ul.nav-wizard {
    background-color: #eeeded;
    border: 1px solid #d4d4d4;
    border-radius: 6px;
    *zoom: 1;
    position: relative;
    overflow: hidden
}

ul.nav-wizard:before {
    top: 46px
}

ul.nav-wizard:after, ul.nav-wizard:before {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    height: 47px;
    border-top: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    z-index: 6;
    content: " "
}

ul.nav-wizard:after {
    top: 138px
}

ul.nav-wizard li {
    position: relative;
    float: left;
    height: 46px;
    display: inline-block;
    padding: 0 20px 0 30px;
    margin: 0;
    font-size: 16px;
    line-height: 46px
}

ul.nav-wizard li > a {
    color: #468847;
    padding: 0
}

ul.nav-wizard li a:hover {
    background-color: transparent
}

ul.nav-wizard li:before {
    border: 24px solid transparent;
    border-left: 16px solid #818a91;
    border-right: 0;
    right: -16px
}

ul.nav-wizard li:after, ul.nav-wizard li:before {
    position: absolute;
    display: block;
    top: -1px;
    z-index: 5;
    content: ""
}

ul.nav-wizard li:after {
    border: 24px solid transparent;
    border-left: 16px solid #eeeded;
    border-right: 0;
    right: -15px
}

ul.nav-wizard li.active {
    color: #fff;
    background: #75a742
}

ul.nav-wizard li.active:after {
    border-left: 16px solid #75a742
}

ul.nav-wizard li.active a, ul.nav-wizard li.active a:active, ul.nav-wizard li.active a:focus, ul.nav-wizard li.active a:visited {
    color: #fff;
    background: #75a742
}

ul.nav-wizard .active ~ li {
    color: #818a91;
    background: #eeeded
}

ul.nav-wizard .active ~ li:after {
    border-left: 16px solid #eeeded
}

ul.nav-wizard .active ~ li a, ul.nav-wizard .active ~ li a:active, ul.nav-wizard .active ~ li a:focus, ul.nav-wizard .active ~ li a:visited {
    color: #818a91;
    background: #eeeded
}

ul.nav-wizard.nav-wizard-backnav li:hover {
    color: #75a742;
    background: #f6fbfd
}

ul.nav-wizard.nav-wizard-backnav li:hover:after {
    border-left: 16px solid #f6fbfd
}

ul.nav-wizard.nav-wizard-backnav li:hover a, ul.nav-wizard.nav-wizard-backnav li:hover a:active, ul.nav-wizard.nav-wizard-backnav li:hover a:focus, ul.nav-wizard.nav-wizard-backnav li:hover a:visited {
    color: #bad49b;
    background: #f6fbfd
}

ul.nav-wizard.nav-wizard-backnav .active ~ li {
    color: #fff;
    background: #75a742
}

ul.nav-wizard.nav-wizard-backnav .active ~ li:after {
    border-left: 16px solid #ededed
}

ul.nav-wizard.nav-wizard-backnav .active ~ li a, ul.nav-wizard.nav-wizard-backnav .active ~ li a:active, ul.nav-wizard.nav-wizard-backnav .active ~ li a:focus, ul.nav-wizard.nav-wizard-backnav .active ~ li a:visited {
    color: #818a91;
    background: #eeeded
}

.dashboard-home .card-deck {
    margin-bottom: 15px
}

.dashboard-home .card {
    background-color: hsla(0, 0%, 100%, .8)
}

.dashboard-home .card .card-img {
    max-width: 100%
}

.dashboard-home .card.bg-warning {
    background-color: rgba(240, 173, 78, .5) !important
}

.dashboard-home .card .card-footer, .dashboard-home .card .card-header {
    background: rgba(0, 0, 0, .03);
    font-weight: 700;
    text-transform: uppercase
}

.dashboard-home .card.card-lg {
    width: 75%
}

.dashboard-home .card.dashboard-banner {
    border: 0
}

.dashboard-home .card.dashboard-banner.card-inverse .card-text {
    color: hsla(0, 0%, 100%, .8)
}

.dashboard-home .card.dashboard-banner .bg-primary {
    background-color: rgba(132, 186, 73, .8) !important
}

.dashboard-home .card table.table {
    margin-bottom: 0
}

.dashboard-home .card table.table thead th {
    text-align: center;
    border-top: none;
    font-weight: 400;
    background-color: #eeeded
}

.form-row.equal-height, .row.equal-height {
    display: flex;
    flex-wrap: wrap
}

.form-row.equal-height > [class*=col-], .row.equal-height > [class*=col-] {
    display: flex;
    flex-direction: column
}

.card {
    flex: 1
}

.slidein-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9;
    top: 0;
    right: 0;
    background-color: #75a742;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 225ms cubic-bezier(0, 0, .2, 1)
}

.slidein-menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.2em;
    color: #fff;
    display: block;
    transition-duration: 225ms
}

.slidein-menu a:hover {
    color: #75a742;
    background-color: #fff
}

.slidein-menu a.closebtn:hover {
    background-color: transparent;
    color: #e4dddd
}

.slidein-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 1.5em;
    margin-left: 50px
}

@media screen and (max-height: 450px) {
    .slidein-menu {
        padding-top: 15px
    }

    .slidein-menu a {
        font-size: 1em
    }
}

.doc-admin-container {
    margin-top: -15px
}

.doc-admin-container .sidebar-left {
    margin-bottom: -15px
}

.doc-admin-container .menu-vertical button.active, .doc-admin-container .menu-vertical button:hover {
    background-color: #75a742
}

.doc-admin-container .doc-admin-content {
    border-left: 1px solid #fff;
    margin-bottom: -15px
}

.doc-admin-container .doc-admin-content table tbody tr td {
    vertical-align: middle
}

.doc-admin-container .doc-admin-content table tbody tr:last-child td {
    border-bottom: 1px solid #fff
}

div.pico-content {
    border-radius: 0 !important;
    padding: 10px 20px !important
}

div.modal-dialog {
    border: 0;
    margin: 0 25px
}

div.modal-dialog .modal-footer button.btn-danger, div.modal-dialog .modal-footer button.btn-primary {
    text-transform: uppercase;
    letter-spacing: .02rem
}

div.alert-dialog {
    border-top: 5px solid #75a742
}

div.danger-dialog {
    border-top: 5px solid #d9534f
}

div.modal-content {
    border: 0
}

.ngdialog-content, .ngdialog.ngdialog-theme-plain .ngdialog-content {
    overflow-y: auto;
    padding: 4px 5px
}

.marangatu-dialogo.ng-enter, .modal-dialog.ng-enter {
    animation: pulse .5s
}

.growl-item.ng-enter {
    animation: bounceIn .5s
}

.mgtu-dialogo-overlay {
    -webkit-filter: blur(1px) grayscale(100%);
    filter: blur(1px) grayscale(100%)
}

.alert-info {
    border-left: 4px solid #72879a
}

.alert-success {
    border-left: 4px solid #449d44
}

.alert-warning {
    border-left: 4px solid #ec971f
}

.alert-warning a {
    border-bottom: 1px dotted;
    color: #f0ad4e;
    font-weight: 700
}

.alert-warning.alert-trans {
    background-color: hsla(36, 84%, 93%, .4)
}

.alert-danger {
    border-left: 4px solid #c9302c
}

.alert-danger a {
    border-bottom: 1px dotted;
    color: #d9534f;
    font-weight: 700
}

.alert-danger.alert-trans {
    background-color: hsla(2, 63%, 92%, .4)
}

.alert-warning-minimal {
    background-color: #f8d9ac;
    text-align: center;
    font-size: .75rem
}

.card-tercero-representado {
    box-shadow: none;
    padding-bottom: 5px
}

.card-tercero-representado h4.card-title {
    font-size: .85rem
}

.card-tercero-representado h6.card-subsubtitle {
    font-size: .8rem
}

.card-tercero-representado:hover {
    border-bottom: 2px solid #75a742;
    padding-bottom: 3px;
    transition: border 225ms linear
}

.card-tercero-representado:hover h6.card-subtitle {
    color: #fff !important
}

.card.border-secondary {
    border: 2px solid rgba(0, 0, 0, .125);
    border-color: #d3d3d3 !important
}

/*# sourceMappingURL=marangatu.css.map */
