.titulo {
    font-family: "Times New Roman", sans-serif;
    font-style: normal;
    font-weight: bold;
    text-align: left;
    font-size: 13px;
    /*padding: 10px 5px;*/
    padding-left: 24px;
}

table.table-header {
    table-layout: fixed;
    width: 100%;
    font-family: "Times New Roman", Sans-Serif;
    font-size: 10px;
    border-style: solid;
}

table.table-header td.td-col1 {
    width: 5%;
    font-weight: bold;
    text-align: left;
}

table.table-header td.td-col2 {
    /*padding-left: 10px;*/
    /*width: 65%;*/
}

table.table-header td.td-col {
    font-weight: bold;
    text-align: right;
}

table.table-header td.td-col3 {
    text-align: right;
}

table.table-header td.td-col2 td.col-3 {
    width: 47.5%;
}

.reporte-titulo-h3 {
    padding-left: 35px;
    font-style: normal;
    font-weight: bold;
    font-family: Arial, serif;
    color: #721c24;
    font-size: 18px;
    text-align: left;
}


/* para tabla de cuentas */

.tg {
    border-collapse: collapse;
    border-spacing: 0;
}

.tg td {
    font-family: "Times New Roman", sans-serif;
    font-size: 10px;
    /*padding: 3px 20px;*/
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: black;
    color: black;
}

.tg-body td {
    font-family: "Times New Roman", sans-serif;
    font-size: 10px;
    padding: 3px 20px;
    border-style: none !important;
    border-width: 0 !important;
    overflow: hidden;
    word-break: normal;
    border-color: black;
    color: black;
}

.tg th {
    font-family: "Times New Roman", sans-serif;
    font-size: 10px;
    font-weight: normal;
    /*padding: 12px 20px 12px 20px;*/
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: black;
    color: black;
}

.tg .tg-gh1y {
    font-weight: bold;
    font-family: "Times New Roman", Times, serif !important;
    text-align: center;
    vertical-align: middle;
}

.tg-body .tg-gh1y {
    font-weight: normal !important;
    font-family: "Times New Roman", Times, serif !important;
    text-align: center;
    vertical-align: middle;
}

.tg-body td.monto {
    text-align: right !important;
    padding-right: 6px;
}

tr.resume-row td.tg-gh1y {
    border-top: 1px solid black !important;
}

tr.closing-row td.tg-gh1y {
    border-top: 3px double black !important;
}