.titulo1 {
    text-align: center;
    font-size: medium;
    font-weight: bold;
}

.titulo2 {
    text-align: left;
    font-size: medium;
    font-weight: bold;
}

.tituloDerecha {
    text-align: right;
    font-size: medium;
    font-weight: bold;
}

.titulo3 {
    text-align: center;
    font-size: small;
    font-weight: bold;
}

.titulo4 {
    text-align: left;
    font-size: small;
    font-weight: bold;
}

.cabecera {
    text-align: center;
}

td {
    font-size: 12px;
}

.monto {
    text-align: right;
}