.header-title {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
}

th.table-colum-header {
    background-color: lightgray;
    text-align: center;
    font-size: 10px;
}

td.data-row {
    text-align: left;
    font-size: 10px;
    /*padding-left: 6px;*/
}

td.ta