.titulo {
    font-family: "Times New Roman", sans-serif;
    font-style: normal;
    font-weight: bold;
    text-align: left;
    font-size: 13px;
    /*padding: 10px 5px;*/
    padding-left: 24px;
}

table.table-header {
    table-layout: fixed;
    width: 100%;
    font-family: "Times New Roman", Sans-Serif;
    font-size: 10px;
    border-style: solid;
}

table.table-header td.td-col1 {
    width: 5%;
    font-weight: bold;
    text-align: left;
}

table.table-header td.td-col2 {
    /*padding-left: 10px;*/
    /*width: 65%;*/
}

table.table-header td.td-col {
    font-weight: bold;
    text-align: right;
}

table.table-header td.td-col3 {
    text-align: right;
}

table.table-header td.td-col2 td.col-3 {
    width: 47.5%;
}

.reporte-titulo-h3 {
    padding-left: 35px;
    font-style: normal;
    font-weight: bold;
    font-family: Arial, serif;
    color: #721c24;
    font-size: 18px;
    text-align: left;
}


/* para tabla de cuentas */
:root {
    --font-size: 12px;
    --border-width: 0px;
}

.tg {
    border-collapse: collapse;
    border-spacing: 0;
}

.tg td {
    font-family: Arial, sans-serif;
    font-size: var(--font-size);
    padding: 10px 5px;
    border-style: solid;
    border-width: var(--border-width);
    overflow: hidden;
    word-break: normal;
}

.tg th {
    font-family: Arial, sans-serif;
    font-size: var(--font-size);
    font-weight: normal;
    padding: 10px 5px;
    border-style: solid;
    border-width: 2px;
    overflow: hidden;
    word-break: normal;
}

.tg .tg-88nc {
    font-weight: bold;
    border-color: inherit;
    text-align: center
}

.tg .tg-uasx {
    border-color: inherit;
}

.tg .tg-uasxh {
    border-color: inherit;
    text-align: right;
}

tr.closing-row td.tg-gh1y {
    border-top: 3px double black !important;
}