.titulo {
    font-family: "Times New Roman", sans-serif;
    font-style: normal;
    font-weight: bold;
    text-align: left;
    font-size: 13px;
    /*padding: 10px 5px;*/
    padding-left: 24px;
}

table.table-header {
    table-layout: fixed;
    width: 100%;
    font-family: "Times New Roman", Sans-Serif;
    font-size: 10px;
    border-style: solid;
}

table.table-header td.td-col1 {
    width: 5%;
    font-weight: bold;
    text-align: left;
}

table.table-header td.td-col2 {
    /*padding-left: 10px;*/
    /*width: 65%;*/
}

table.table-header td.td-col {
    font-weight: bold;
    text-align: right;
}

table.table-header td.td-col3 {
    text-align: right;
}

table.table-header td.td-col2 td.col-3 {
    width: 47.5%;
}

.reporte-titulo-h3 {
    padding-left: 35px;
    font-style: normal;
    font-weight: bold;
    font-family: Arial, serif;
    color: #721c24;
    font-size: 18px;
    text-align: left;
}


/* para tabla de cuentas */

.tg, .tg2 {
    border-collapse: collapse;
    border-spacing: 0;
}

.tg td {
    font-family: "Times New Roman", sans-serif;
    font-size: 10px;
    /*padding: 3px 20px;*/
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: black;
    color: black;
}

.tg2 td {
    font-family: "Times New Roman", sans-serif;
    font-size: 10px;
    padding: 1px 2px 1px 2px;
    border-style: solid;
    border-width: 0px; /* poner a 1 o mas si se quiere ver el borde */
    overflow: hidden;
    word-break: normal;
    border-color: black;
    color: black;
}

.tg th {
    font-family: "Times New Roman", sans-serif;
    font-size: 9px;
    font-weight: normal;
    padding: 1px 0 1px 0;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: black;
    color: black;
}

.tg .tg-gh1y {
    font-weight: bold;
    font-family: "Times New Roman", Times, serif !important;
    text-align: center;
    vertical-align: middle;
}

.tg .tg-gh1y2, .tg2 .tg-gh1y2 {
    font-family: "Times New Roman", Times, serif !important;;
    font-size: 8px;
    vertical-align: middle;
}

.tg .tg-x4jz {
    font-weight: bold;
    font-family: "Times New Roman", Times, serif !important;;
    text-align: center
}

.tg2 td.monto {
    text-align: right;
    padding-right: 6px;
}

tr.resume-row td.tg-gh1y2 {
    border-bottom: 1px solid black !important;
    border-top: 1px dotted black !important;
}

tr.closing-row td.tg-gh1y2 {
    border-bottom: 3px double black !important;
}

/* Para reporte resumido */
td.monto {
    width: 94px;
}