table {
    border-collapse: collapse;
}

th {
    text-align: left;
}

td, th {
    padding-left: 12px;
    padding-right: 12px;
}

td.number-field {
    text-align: right;
}

tr.ultima-fila td, tr.fila-cabecera th, tr.ultima-fila-datos td {
    height: 5px !important; /* overwrites any other rules */
    background-color: #FFFFFF;
}

tr.ultima-fila td {
    border-top: 1px solid black;
    /*border-bottom: 1px solid black;*/
}

tr.ultima-fila-datos td {
    border-bottom: 1px solid black;
}

tr.fila-cabecera th {
    border-bottom: 3px solid black;
}

table.contenido {
    font-size: 10px;
    border-collapse: collapse;
}


.reporte-titulo {
    text-align: left;
}

.reporte-titulo-h3 {
    padding-left: 35px;
    font-style: normal;
    font-weight: bold;
    font-family: Arial, serif;
    color: #ac2825;
    font-size: 18px;
}

.reporte-titulo-contenido {
    padding-left: 45px;
    font-style: normal;
    /*font-weight: bold;*/
    font-family: Arial, serif;
    text-align: left;
}