table.encabezado {
    font-size: 10px;
    border-collapse: collapse;
}

table.contenido {
    font-size: 10px;
    border-collapse: collapse;
}

tr.ultima-fila-datos td {
    border-bottom: 1px dotted black;
}

tr.cabecera td,
.centrado {
    text-align: center;
}

table.align-left,
.align-left {
    text-align: left;
    padding-left: 3px;
}

.derecha {
    text-align: right;
}

tr.cabecera td.borde_arriba,
tr.arriba td {
    border-top: 2px solid black;
}

tr.cabecera td.borde_bajo,
tr.abajo td {
    border-bottom: 2px solid black;
}

tr.cabecera td.borde_arriba {
    border-right: 2px solid black;
    border-left: 2px solid black;
}

tr.cabecera td.borde_medio {
    border-right: 2px solid black;
    border-left: 2px solid black;
}

tr.cabecera td.borde_bajo {
    border-right: 2px solid black;
    border-left: 2px solid black;
}

tr.cabecera .borde_simple {
    border-right: 1px solid black;
    border-left: 1px solid black;
}

tr.datos td {
    border: 1px solid black;
    /*padding-left: 3px;*/
    /*padding-right: 3px;*/
}

tr.borde_doble td {
    border-top: 2px double black;
}

td.total {
    border-top: 1px solid;
    font-weight: bold;
}

.reporte-titulo {
    text-align: left;
}

.reporte-titulo-h3 {
    padding-left: 35px;
    font-style: normal;
    font-weight: bold;
    font-family: Arial, serif;
    color: #ac2825;
    font-size: 18px;
}

.modelo {
    padding-left: 35px;
    font-style: normal;
    font-family: Arial, serif;
    text-align: left;
}

.align-right {
    text-align: right;
    padding-right: 3px;
}

tr.fila-resumen td {
    border-top: dotted;
    border-bottom: dotted;
}

tr.fila-vacia td {
    height: 20px !important; /* overwrites any other rules */
    background-color: #FFFFFF;
}

tr.fila-terminacion td {
    height: 5px !important; /* overwrites any other rules */
    background-color: #FFFFFF;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

tr.fila-titulo-resumen-ivas td {
    background-color: #FFFFFF;
    /*border-top: 1px solid black;*/
    /*border-bottom: 1px solid black;*/
    font-size: 12px;
    text-align: center;
    width: 100%;
}

table.resumen-recuadro {
    border: 2px solid black;
}

tr.subrayoado td {
    height: 1px !important; /* overwrites any other rules */
    background-color: #FFFFFF;
    border-top: 2px solid black;
}