table.encabezado {
    font-size: 8px;
    border-collapse: collapse;
}

table.contenido {
    font-size: 6px;
    border-collapse: collapse;
}

td.col_dias {
    width: 1.1%
}

tr.cabecera td,
.centrado {
    text-align: center;
}

table.align-left,
.align-left {
    text-align: left;
    padding-left: 3px;
}

.derecha {
    text-align: right;
}

tr.cabecera td.borde_arriba,
tr.arriba td {
    border-top: 2px solid black;
}

tr.cabecera td.borde_bajo,
tr.abajo td {
    border-bottom: 2px solid black;
}

tr.cabecera td.borde_arriba {
    border-right: 2px solid black;
    border-left: 2px solid black;
}

tr.cabecera td.borde_medio {
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 1px solid black;
}

tr.cabecera td.borde_bajo {
    border-right: 2px solid black;
    border-left: 2px solid black;
}

tr.cabecera .borde_simple {
    border-right: 1px solid black;
    border-left: 1px solid black;
}

tr.datos td {
    border: 1px solid black;
    /*padding-left: 3px;*/
    /*padding-right: 3px;*/
}

tr.borde_doble td {
    border-top: 2px double black;
}

td.tipo-comprobante {
    width: 6%;
}

td.numero {
    width: 4.8%;
}

td.gravadas-10 {
    width: 6%;
}

td.gravadas-5 {
    width: 6%;
}

td.impuestos-5 {
    width: 5%;
}

td.valor-moneda {
    width: 3%;
}

td.total {
    width: 6%;
}

td.fecha {
    width: 3.2%;
}

td.ruc {
    width: 3.5%;
}

td.timbrado {
    width: 2.8%;
}

td.impuestos-10 {
    width: 5%;
}

td.total-10 {
    width: 5%;
    background-color: rgb(0, 104, 173);
    color: white;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

td.total-5 {
    width: 5%;
    background-color: rgba(251, 255, 0, 0.829);
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

td.exentas {
    width: 6%;
}

td.razon-social {
    width: 18.5%;
}

.reporte-titulo {
    text-align: left;
}

.reporte-titulo-h3 {
    padding-left: 35px;
    font-style: normal;
    font-weight: bold;
    font-family: Arial, serif;
    color: #ac2825;
    font-size: 18px;
}

.modelo {
    padding-left: 35px;
    font-style: normal;
    font-family: Arial, serif;
    text-align: left;
}

.align-right {
    text-align: right;
    padding-right: 3px;
}

td.del,
td.del-text,
td.codigo-desde,
td.codigo-desde-text,
td.rucc,
td.rucc-text {
    width: 6%;
}

tr.fila-resumen td {
    /*border-top: dotted;*/
    border-bottom: 1px dotted;
}

tr.fila-vacia td {
    height: 20px !important; /* overwrites any other rules */
    background-color: #FFFFFF;
}

tr.fila-terminacion td {
    height: 5px !important; /* overwrites any other rules */
    background-color: #FFFFFF;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

tr.fila-titulo-resumen-ivas td {
    background-color: #FFFFFF;
    /*border-top: 1px solid black;*/
    /*border-bottom: 1px solid black;*/
    font-size: 12px;
    text-align: center;
    width: 100%;
}

table.resumen-recuadro {
    border: 2px solid black;
}

tr.subrayoado td {
    height: 1px !important; /* overwrites any other rules */
    background-color: #FFFFFF;
    border-top: 2px solid black;
}