.titulo {
    font-family: "Times New Roman", sans-serif;
    font-style: normal;
    font-weight: bold;
    text-align: left;
    font-size: 13px;
    /*padding: 10px 5px;*/
    padding-left: 24px;
}

table.table-header {
    table-layout: fixed;
    width: 100%;
    font-family: "Times New Roman", Sans-Serif;
    font-size: 10px;
    border-style: solid;
}

table.table-header td.td-col1 {
    width: 5%;
    font-weight: bold;
    text-align: left;
}

table.table-header td.td-col2 {
    /*padding-left: 10px;*/
    /*width: 65%;*/
}

table.table-header td.td-col {
    font-weight: bold;
    text-align: right;
}

table.table-header td.td-col3 {
    text-align: right;
}

table.table-header td.td-col2 td.col-3 {
    width: 47.5%;
}

/* para tabla de cuentas */

.tg {
    border-collapse: collapse;
    border-spacing: 0;
}

.tg td {
    font-family: "Times New Roman", sans-serif;
    font-size: 14px;
    padding: 3px 20px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: black;
    color: white;
}

.tg2 td {
    font-family: "Times New Roman", sans-serif;
    font-size: 14px;
    padding: 3px 20px;
    border-style: none;
    overflow: hidden;
    word-break: normal;
    border-color: black;
}

.tg th {
    font-family: "Times New Roman", sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 12px 20px 12px 20px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: black;
    color: white;
}

.tg .tg-gh1y {
    font-weight: bold;
    background-color: #00C851;
    font-family: "Times New Roman", Times, serif !important;;
    text-align: center;
    vertical-align: top
}

.tg .tg-x4jz {
    font-weight: bold;
    background-color: #00C851;
    font-family: "Times New Roman", Times, serif !important;;
    text-align: center
}

.tg2 td.monto {
    text-align: right;
}

tr.last-row td {
    border-style: solid;
    /*border-width: 3px;*/
    border-top: 1px solid black;
    font-weight: bold;
}