.reporte-titulo {
    text-align: left;
    border-bottom: 2px solid black;
    width: 40%;
}

.reporte-titulo-h3-2 {
    font-style: normal;
    font-weight: bold;
    font-family: Arial, serif;
    font-size: 14px;
    text-align: left;
    margin-top: 5px;
}

.reporte-titulo-h3 {
    font-style: normal;
    font-weight: bold;
    font-family: Arial, serif;
    color: #ac2825;
    font-size: 18px;
}

.tg {
    border-collapse: collapse;
    border-spacing: 0;
}

.tg td {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: black;
}

.tg th {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: black;
}

.tg {
    font-size: 12px;
    background-color: #c0c0c0;
    border-color: inherit;
    text-align: center;
    vertical-align: top
}

.cabecera {
    font-size: 8px;
    border-color: inherit;
    text-align: center;
    vertical-align: top;
}

.cabecera-left {
    font-size: 8px;
    border-color: inherit;
    text-align: left;
    vertical-align: top;
}

.cabecera-span {
    font-size: 10px;
    font-weight: bold;
}

.td {
    font-size: 10px;
    border-color: inherit;
    text-align: left;
}